* {
    box-sizing: border-box;
  }

body {
    background: #2432b1
  }
  

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
main {
    margin-top: 40px; /* Adjust based on header height */
  }

nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav > ul > li {
    display: inline;
}

nav > ul > li > a {
    text-decoration: none;
    color: white
}

#Contact ul li img {
    width: 40px; 
    height: auto;
}

#Contact ul {
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: center;
}

.projectscertifications {
    display: flex;
    flex-direction: row;
    width: 100%
}

.certification {
    width: 200px;
    height: 275px;
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;

}

.certification:hover {
    width: 300px;
    height: 275px;
}

.certification img {
    width: 150px;
    height: 150px;
    margin: 10px;
}

.certification hr {
    background-color:black;
    height: 2px;
    width: 200px;
    border-color: black;
}

.certification p {
    font-family: sans-serif;
    text-align: center;
    margin: 10px;
    font-size: 25px;
}
