* {
    box-sizing: border-box;
  }

body {
    background: #2432b1
  }
  

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
main {
    margin-top: 40px; /* Adjust based on header height */
  }

nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav > ul > li {
    display: inline;
}

nav > ul > li > a {
    text-decoration: none;
    color: white
}

#Contact ul li img {
    width: 40px; /* Make images uniform */
    height: auto;
}

#Contact ul {
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: center;
}

.Certification {
    position: relative;
    width: 150px;
    height: 240px;
    perspective: 1000px;
}

.Certification-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

.Certification:hover .Certification-inner {
    transform: rotateY(180deg);
}

.Certification-front, .Certification-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}

.Certification-back {
    transform: rotateY(180deg);
    background-color: #f4f4f4; /* Change color for the back */
}
